/* create variables */
:root {
    --orange: #ff4e00;
    --bg: white;
    --bg2: #333;
    --blue: #0c64c5;
    --acc: #bbb;
    --bg3: #eee;
}

/* normalize margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-moz-focus-inner {
    border: 0;
}

/*  
========================
        Main CSS
========================
*/

html, body {
    scroll-behavior: smooth;
    background: var(--bg);
    min-height: 160vh;
    max-width: 100%;
    width: 100%;
}
.hidden {
    opacity: 0%;
    visibility: hidden;
}
/*  
=======================
        Content
=======================
*/
main, .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter {
    width: max-content;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 4rem;
}
hr {
    width: 90%;
    margin: 1rem 0;
    border-bottom: 1px solid var(--acc);
}
/*  
=======================
        Inputs
=======================
*/
input[type="text"] {
    margin-top: 2rem;
    width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
    background: var(--bg3);
    border: 2px solid var(--bg2);
    border-radius: 4px;
    color: black;
    padding: 0.2rem 0.4rem;
    transition: border 0.4s ease, background-color 0.4s ease;
}
input.error, input.error:focus {
    border: 2px solid rgb(225, 0, 0);
    background: rgb(255, 0, 0, 0.1);
}

/*  
=======================
        Counter
=======================
*/
#counter {
    margin-top: 2rem;
    width: 22rem;
    height: 15rem;
    background: var(--bg3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg2);
    font-size: 8rem;
    text-shadow: 0 0 20px var(--bg2);
    border-radius: 1rem;
    border: 0.5rem solid var(--acc);
}

/*  
=======================
        Buttons
=======================
*/
.buttons {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin-top: 2rem;
}
.buttons button {
    border-radius: 1rem;
    /* border: 4px solid var(--bg2); */
    border: none;
    background: transparent;
    color: var(--bg2);
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    margin: 0.5rem;
    color: white;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.buttons button:focus {
    outline: none;
}

.row.wide button {
    width: 23rem;
}
.row.narrow button {
    width: 10.5rem;
}
.row button {
    height: 4rem;
}
.row.high button {
    height: 6rem;
}
#add {
    font-size: 4rem;
}
#minus,
#plus {
    font-size: 3rem;
}
#top {
    font-size: 1.5rem;
}
#reset,
#finish {
    font-size: 1.2rem;
}
.row button.lime {
    background: rgb(54, 192, 0);
    box-shadow: 0 0.4rem 0 rgb(8, 69, 0);
}
.row button.lime:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(8, 69, 0);
}
.row button.red {
    background: rgb(192, 0, 0);
    box-shadow: 0 0.4rem 0 rgb(69, 0, 0);
}
.row button.red:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(69, 0, 0);
}
.row button.blue {
    background: rgb(0, 77, 192);
    box-shadow: 0 0.4rem 0 rgb(0, 37, 92);
}
.row button.blue:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(0, 37, 92);
}
.row button.green {
    background: rgb(26, 131, 26);
    box-shadow: 0 0.4rem 0 rgb(23, 59, 12);
}
.row button.green:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(23, 59, 12);
}

/*  
==========================
        Data Table
==========================
*/
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: max-content;
    padding: 2rem 1rem 4rem;
}
.table h1 {
    margin-bottom: 1rem;
}
.table select {
    width: max-content;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.2rem 0.4rem;
}
.table table {
    margin: 0 auto;
    border-collapse: collapse;
}
.table tr:nth-child(even) {
    background: #0001;
}
.table td, .table th {
    border: 1px solid var(--acc);
}
.table th {
    background: var(--orange);
    color: white;
    font-size: large;
    padding: 0.5rem 2rem 0.5rem 0.3rem;
}
.table td {
    padding: 0.4rem 2rem 0.4rem 0.3rem;
}
.table tr:nth-of-type(2):not([class="remove-entry"]):not([class="blankCell"]),
.table tr:nth-of-type(3):not([class="remove-entry"]),
.table tr:nth-of-type(4):not([class="remove-entry"]) {
    font-weight: 700;
}
.table tr :nth-child(1):not([class="blankCell"]),
.table tr :nth-child(5):not([class="blankCell"]) {
    padding: 0.4rem 0.5rem;
    min-width: 1rem;
    text-align: center;
}
.table .remove-entry {
    color: red;
    font-weight: 800;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    justify-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.table .top {
    text-decoration: underline;
}
.table #reset-data {
    margin-top: 4rem;
    color: red;
    padding: 0.3rem 0.5rem;
    border: 2px solid red;
    border-radius: 4px;
    cursor: pointer;
}
