/* create variables */
:root {
    --bg: white;
    --bg2: #333;
    --counter: var(--bg2);
    --blue: #0c64c5;
    --acc: #bbb;
    --bg3: #eee;
    --bg4: var(--bg3);
    --settings-dot-border: #999;
    --settings-box-border: #666;
    --settings-main-selected: white;
    --oddrow: #0001;
    --social-media-bg: white;
    --social-media-shadow: #0006;
    --font-col: black;
}
body.dark-theme {
    --bg: #333;
    --bg2: #888;
    --counter: #ddd;
    --blue: #0c64c5;
    --acc: #888;
    --bg3: #444;
    --bg4: #222;
    --settings-dot-border: #999;
    --settings-box-border: #666;
    --settings-main-selected: white;
    --oddrow: #fff1;
    --social-media-bg: var(--bg3);
    --social-media-shadow: #0004;
    --font-col: white;
    transition: all 0.3s ease;
}

/* normalize margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--font-col)
}

::-moz-focus-inner {
    border: 0;
}

/*  
========================
        Main CSS
========================
*/

html, body {
    scroll-behavior: smooth;
    background: var(--bg);
    height: max-content;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}
.hidden {
    opacity: 0%;
    display: none;
}
.disallow-focusing {
    display: none !important;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*  
=======================
        Content
=======================
*/
main, .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter {
    width: max-content;
    min-height: 100vh;
    height: max-content;
    padding-bottom: 4rem;
}
hr {
    width: 90%;
    margin: 1rem 0;
    border-bottom: 1px solid var(--acc);
}
/*  
========================
        Settings
========================
*/
.settings {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0.5rem;
}
#settings-btn {
    border: none;
    background: none;
    font-size: 2rem;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 4px;
}
#settings-btn:hover {
    background: #fff1;
}
.settings-list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--acc);
    background: var(--bg);
    border-radius: 4px;
    margin-top: 0.4rem;
    padding: 0.3rem 0.5rem;
    transition: all 0.2s ease;
}
.settings-list.hidden {
    transform: translateX(100%);
    opacity: 0%;
}
.settings-list h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
/* ====== plus amount ====== */
.settings-list .plus-amount {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.settings-list .plus-amount .btn-option {
    background: none;
    border: none;
    width: min-content;
    margin: 0 0.5rem;
}
.settings-list .plus-amount .option {
    background: var(--bg3);
    height: 2rem;
    width: 6rem;
    border-radius: 4px;
    border: 1px solid var(--acc);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease;
}
.settings-list .plus-amount .option span {
    color: var(--settings-box-border);
}
.settings-list .plus-amount .option .dot {
    height: 1rem;
    width: 1rem;
    border-radius: 999px;
    border: 2px solid var(--settings-dot-border);
    transition: all 0.3s ease;
}
.settings-list .plus-amount .option .dot::before {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    margin-left: -0.25rem;
    margin-top: 0.125rem;
    border-radius: 999px;
    background: var(--blue);
    opacity: 0;
}
.settings-list .plus-amount #option1:checked ~ .btn-option1 .option1,
.settings-list .plus-amount #option2:checked ~ .btn-option2 .option2,
.settings-list .plus-amount #option3:checked ~ .btn-option3 .option3 {
    background: var(--blue);
}
.settings-list .plus-amount #option1:checked ~ .btn-option1 .option1 .dot,
.settings-list .plus-amount #option2:checked ~ .btn-option2 .option2 .dot,
.settings-list .plus-amount #option3:checked ~ .btn-option3 .option3 .dot {
    background: var(--settings-main-selected);
    border-color: var(--settings-main-selected);
}
.settings-list .plus-amount #option1:checked ~ .btn-option1 .option1 .dot::before,
.settings-list .plus-amount #option2:checked ~ .btn-option2 .option2 .dot::before,
.settings-list .plus-amount #option3:checked ~ .btn-option3 .option3 .dot::before {
    opacity: 1;
}
.settings-list .plus-amount #option1:checked ~ .btn-option1 .option1 span,
.settings-list .plus-amount #option2:checked ~ .btn-option2 .option2 span,
.settings-list .plus-amount #option3:checked ~ .btn-option3 .option3 span {
    color: var(--settings-main-selected);
}
.settings-list .plus-amount input {
    display: none;
}
/* dark theme */
.settings-list .theme {
    margin-top: 1.5rem;
    align-self: flex-end;
}
.settings-list .dark-theme {
    background: none;
    border: none;
    padding: 0.2rem;
    font-size: 1.4rem;
    width: 1.75rem;
    height: 1.75rem;
}
.settings-list #dark-theme {
    display: none;
}
body:not([class=dark-theme]) .light {
    display: none;
}
body.dark-theme .light {
    display: block;
}
body:not([class=dark-theme]) .dark {
    display: block;
}
body.dark-theme .dark {
    display: none;
}
/*
======================
        Toasts
======================
*/
.Toaster.toast {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    min-height: 1.5rem;
    padding: 6px;
    color: black;
    font-family: sans-serif;
    text-align: center;
    border-radius: 4px;
    border-left: 6px solid currentColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}
.Toaster.toast--visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
}
.Toaster.toast--success {
    background: #DEF2D5;
    border-color: #596D50;
    color: #596D50;
}
.Toaster.toast--info {
    background: #CCE8F4;
    border-color: #4D7FA3;
    color: #4D7FA3;
}
.Toaster.toast--disallow,
.Toaster.toast--error {
    background: #EBC8C2;
    border-color: #AA3132;
    color: #AA3132;
}
.Toaster.toast--warn {
    background: #F8F3D6;
    border-color: #927947;
    color: #927947;
}
.Toaster .toast-icon {
    position: absolute;
    left: 0;
    margin-left: 1rem;
    color: currentColor;
}
.Toaster .toast-close {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    color: currentColor;
    opacity: 50%;
    cursor: pointer;
}
/*  
===========================================
        Counter Section Transitions
===========================================
*/
section.counter,
section.counter * {
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
/*  
=======================
        Inputs
=======================
*/
input[type="text"] {
    margin-top: 2rem;
    width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
    background: var(--bg3);
    border: 2px solid var(--bg2);
    border-radius: 4px;
    color: var(--font-col);
    padding: 0.2rem 0.4rem;
    transition: border 0.4s ease, background-color 0.4s ease;
}
input.error, input.error:focus {
    border: 2px solid rgb(225, 0, 0);
    background: rgba(255, 0, 0, 0.1);
    color: #d00;
}

/*  
=======================
        Counter
=======================
*/
#counter {
    margin-top: 2rem;
    width: 22rem;
    height: 15rem;
    background: var(--bg3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--counter);
    font-size: 8rem;
    text-shadow: 0 0 20px var(--bg2);
    border-radius: 1rem;
    border: 0.5rem solid var(--acc);
}

/*  
=======================
        Buttons
=======================
*/
.buttons {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin-top: 2rem;
}
.buttons button {
    border-radius: 1rem;
    border: none;
    background: transparent;
    color: var(--bg2);
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    margin: 0.5rem;
    color: white;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.buttons button:focus {
    outline: none;
}

.row.wide button {
    width: 23rem;
}
.row.narrow button {
    width: 10.5rem;
}
.row.high button {
    height: 6rem;
}
.row button {
    height: 4rem;
}
#add {
    font-size: 4rem;
}
#minus,
#plus {
    font-size: 3rem;
}
#top {
    font-size: 1.5rem;
}
#reset,
#finish {
    font-size: 1.2rem;
}
.row button.lime {
    background: rgb(54, 192, 0);
    box-shadow: 0 0.4rem 0 rgb(8, 69, 0);
}
.row button.lime:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(8, 69, 0);
}
.row button.red {
    background: rgb(192, 0, 0);
    box-shadow: 0 0.4rem 0 rgb(69, 0, 0);
}
.row button.red:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(69, 0, 0);
}
.row button.blue {
    background: rgb(0, 77, 192);
    box-shadow: 0 0.4rem 0 rgb(0, 37, 92);
}
.row button.blue:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(0, 37, 92);
}
.row button.green {
    background: rgb(26, 131, 26);
    box-shadow: 0 0.4rem 0 rgb(23, 59, 12);
}
.row button.green:active {
    position: relative;
    top: 0.2rem;
    box-shadow: 0 0.2rem 0 rgb(23, 59, 12);
}

/*  
==========================
        Data Table
==========================
*/
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: max-content;
    padding: 2rem 1rem 4rem;
}
.table h1 {
    margin-bottom: 1rem;
}
.table select {
    width: max-content;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.2rem 0.4rem;
    background: var(--bg3);
    border: 1px solid var(--acc);
    border-radius: 3px;
    cursor: pointer;
}
.table table {
    margin: 0 auto;
    border-collapse: collapse;
}
.table tr:nth-child(even) {
    background: var(--oddrow);
}
.table td, .table th {
    border: 1px solid var(--acc);
}
.table th {
    background: rgb(0, 77, 192);
    color: white;
    font-size: large;
    padding: 0.5rem 2rem 0.5rem 0.3rem;
}
.table td {
    padding: 0.4rem 2rem 0.4rem 0.3rem;
}
.table tr:nth-of-type(2):not([class="remove-entry"]):not([class="blankCell"]),
.table tr:nth-of-type(3):not([class="remove-entry"]),
.table tr:nth-of-type(4):not([class="remove-entry"]) {
    font-weight: 700;
}
.table tr :nth-child(1):not([class="blankCell"]):not(button),
.table tr :nth-child(5):not([class="blankCell"]) {
    padding: 0.4rem 0.5rem;
    min-width: 1rem;
    text-align: center;
}
body.hasHover .table table {
    margin-left: 2.8rem;
}
.table th:nth-of-type(5),
.table td:nth-of-type(5) {
    background: var(--bg);
    padding-left: 0;
    border: none;
}
body.hasHover .table th:nth-of-type(5), 
body.hasHover .table td:nth-of-type(5) {
    visibility: hidden;
}
body.hasHover .table tr:hover th:nth-of-type(5),
body.hasHover .table tr:hover td:nth-of-type(5) {
    visibility: visible;
}
.table .remove-entry {
    font-size: 1rem;
    border: none;
    background-color: transparent;
    justify-self: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.table .remove-entry i {
    color: red;
}
.table .top {
    text-decoration: underline;
}
.table #reset-data {
    margin-top: 4rem;
    color: red;
    padding: 0.3rem 0.5rem;
    border: 2px solid red;
    border-radius: 4px;
    cursor: pointer;
    background: var(--bg);
}
}
/*  
======================
        Footer
======================
*/
footer {
    background: rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}
/* social media buttons main styling */
.social-media-wrapper .button {
    color: black;
    text-decoration: none;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: var(--social-media-bg);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px var(--social-media-shadow);
    transition: all 0.3s ease;
    overflow: hidden;
    outline: none;
}
.social-media-wrapper .button:hover {
    width: 200px;
}
.social-media-wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    line-height: 60px;
    transition: all 0.2s ease;
}
.social-media-wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.2s ease;
}
.social-media-wrapper .button span {
    font-family: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
/* social media buttons individual styling */
.social-media-wrapper .button.github:hover .icon {
    background: #24292e;
    color: white;
}
.social-media-wrapper .button.github:hover span {
    color: #24292e;
}
.social-media-wrapper .button.discord:hover .icon {
    background: #7289da;
    color: white;
}
.social-media-wrapper .button.discord:hover span {
    color: #7289da;
}
/* advanced options */
.advanced-options-container {
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#advanced-options-list {
    position: absolute;
    margin-bottom: .1rem;
    padding: 0.4rem 0.6rem 0.6rem 0.4rem;
    border: 1px solid var(--bg2);
    background: var(--bg);
    border-radius: 4px;
    bottom: 2rem;
    width: max-content;
    transition: all 0.2s ease;
    opacity: 100%;
    display: block;
}
#advanced-options-list.hidden {
    transform: translateX(100%);
    opacity: 0%;
}
#advanced-options-list h1 {
    font-size: 1rem;
}
#advanced-options-list button {
    width: 100%;
    border: none;
    background: none;
    margin-top: 0.3rem;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}
#advanced-options-list button:hover {
    background: #fff1;
}
#advanced-options-btn {
    color: var(--font-col);
    padding: 0.2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}
#advanced-options-btn:hover {
    background: #fff1;
}

/*  
==========================
        Responsive
==========================
*/
@media screen and (max-width: 440px) {
    /*  
    =======================
            Counter
    =======================
    */
    input[type="text"] {
        margin-top: 1.2rem;
        width: 18rem;
        height: 1.8rem;
        font-size: 1.1rem;
        padding: 0.15rem 0.33rem;
    }
    #counter {
        width: 19.5rem;
        height: 11rem;
        font-size: 6rem;
    }
    .row.wide button {
        width: 20rem;
    }
    .row.narrow button {
        width: 9rem;
    }
    .row.high button {
        height: 5rem;
    }
    .row button {
        height: 3.5rem;
    }
    #add {
        font-size: 3rem;
    }
    #minus,
    #plus {
        font-size: 2rem;
    }
    #top {
        font-size: 1.1rem;
    }
    #reset,
    #finish {
        font-size: 0.9rem;
    }

    /*  
    ==========================
            Data Table
    ==========================
    */
    .table table {
        overflow-x: scroll;
    }
    .table td, .table th {
        font-size: smaller
    }
    .table tr :nth-child(5):not([class="blankCell"]) {
        padding: 0;
    }
    .table #reset-data {
        margin-top: 2rem;
        padding: 0.1rem 0.2rem;
        font-size: smaller;
    }
}